.calc{
    width: 400px;
    height: 500px;
    background: grey;
    margin-left: 400px;
}
#screen{
    width: 300px;
    height: 30px;
    margin-left: 50px;
    margin-top: 20px;
    pointer-events: none;
}
.btn{
    width: 53px;
    height: 46px;
    margin-left: 36px;
    margin-top: 25px;
}
